[submodule "client/third_party/cpp-httplib"]
	path = client/third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "client/third_party/json"]
	path = client/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "client/third_party/cxxopts"]
	path = client/third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
